@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
$base-font: 'Roboto';
html{
  font-family: $base-font;
  //background-color:lightslategray;
}
/* Main Page Styling */
.header{
  text-align: center;
  font-size: 30px;
}
/* Main Page Styling End */

/* Grid Styling */

.skiplist-form{
  margin-top: 100px;
  text-align: center;
}

.control-panel{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skiplist{
  margin: 0;
  padding: 0;
}

.modified-b{
  line-height: 20px;
}

.node-square{
  color: black;
  margin: 10px;
  width:50px;
  height:50px;
  outline: black solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__text{
    margin-top: unset;
    margin-bottom: unset;
  }
  @media only screen and (max-width : 400px) {
    width: 30px;
    height: 30px;
    margin: 0;
    font-size:8px;
  }
}

.explanation-box {
  text-align: center;
}

section.op{
  margin: 25px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 25% 10%;
}

section.animation-control{
  margin: 25px;
  padding: 10px;
  border: 2px solid lightseagreen;
  border-radius: 20px;
}

button{
  margin: 10px;
}

.color-box{
  &-purple{
    color:white;
    background-color: purple;
  }
  &-blue{
    color:white;
    background-color: blue;
  }
  &-yellow{
    color:black;
    background-color: yellow;
  }
}